@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Spartan, sans-serif;
  font-size: 12px;
  background: red;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  header {
    padding: 3rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  header .hamburger {
    border: none;
    background: none;
    z-index: 99;
    position: fixed;
    left: 0;
    padding-left: 1.5rem;
  }
  header .logo {
    margin: auto;
  }
  header .nav-ul {
    z-index: 98;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    position: absolute;
    background: white;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -999rem;
    -webkit-transition: left 3s;
    transition: left 3s;
  }
  header .nav-ul.show {
    left: 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  header .nav-ul.show a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: 700;
    text-transform: lowercase;
  }
  header .nav-ul.show a:hover {
    border-bottom: 1px solid white;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  header .hamburger {
    display: none;
  }
  header .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  header .nav-ul a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: lowercase;
  }
  header .nav-ul a:hover {
    padding-bottom: .75rem;
    border-bottom: 0.15rem solid white;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide .img_container {
  height: 50vh;
  position: relative;
}

.slide .img_container img {
  width: 100%;
  height: 100%;
}

.slide .img_container .mobile_buttons {
  z-index: 98;
  position: absolute;
  bottom: 0;
  right: 0;
}

.slide .text_wrapper {
  height: 50vh;
  background: white;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.slide .text_wrapper .desktop_buttons {
  display: none;
}

.slide .text_wrapper p {
  color: #454545;
}

.slide .text_wrapper a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: .8rem;
  letter-spacing: .5rem;
}

.slide .text_wrapper a:hover {
  color: #454545;
  border-bottom: 1px solid white;
}

.slide .text_wrapper a:hover svg {
  fill: #454545;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons button {
  cursor: pointer;
  background: black;
  border: none;
  padding: .5rem;
}

.buttons button:hover {
  background: #454545;
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_container .img_container {
  width: 100%;
  height: 25vh;
}

.about_container .img_container img {
  width: 100%;
  height: 100%;
}

.about_container .text_wrapper {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
  background: white;
}

.about_container .text_wrapper p {
  color: #454545;
}

@media screen and (min-width: 1024px) {
  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .slide .img_container {
    width: 60%;
    height: 65vh;
  }
  .slide .img_container .mobile_buttons {
    display: none;
  }
  .slide .text_wrapper {
    width: 40%;
    height: 65vh;
    position: relative;
  }
  .slide .text_wrapper .desktop_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .slide .text_wrapper .desktop_buttons button {
    padding: 1.25rem;
  }
  .about_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about_container .img_container {
    height: 35vh;
    width: 36.5%;
  }
  .about_container .text_wrapper {
    height: 35vh;
    width: 63.5%;
  }
}
/*# sourceMappingURL=style.css.map */